<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Jitu-Lyfestyle - for ladies all wears</title>
    <meta name="description" content="Thoughts, reviews and ideas since 1999." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS Libraries -->


    <!-- Template Stylesheet -->

</head>

<body class="home-template">
    <div class="container">
        <div class="site-wrapper">
            <!-- navbar strt  -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Jitu-Lyfestyle</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Products
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">T-shirt</a></li>
                                    <li><a class="dropdown-item" href="#">Kudati</a></li>
                                    <li><a class="dropdown-item" href="#">Salwar Suit</a></li>
                                    <li><a class="dropdown-item" href="#">Jeans & Top</a></li>
                                    <li><a class="dropdown-item" href="#">Ladies Winter Jocket</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- navbar end -->



            <header class="main-header " style="background-image: url(/img/intro.jpg)">
                <div class="vertical">
                    <div class="main-header-content inner">
                        <h1 class="page-title text-">All Type Of Ladies Fashion Available </h1>
                        <div class="entry-title-divider">
                            <span></span><span></span><span></span>
                        </div>
                        <h2 class="page-description">50% OFF ALL ON PRODUCTS.</h2>
                    </div>
                </div>
                <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll
                        Down</span></a>
            </header>
            <div class="mt-5">
                98
            </div>
            <div class="mt-5"></div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="/img/product-1.jpg" class="card-img-top" alt="...">


                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/img/product-2.jpg" class="card-img-top" alt="...">

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="/img/product-3.jpg" class="card-img-top" alt="...">

                    </div>
                </div>
            </div>
            <div class="mt-5"></div>

            <footer class="site-footer clearfix">
                <a href="#top" id="back-to-top" class="back-top"></a>
                <div class="text-center">
                    <a href="index.html">Nectaria Template</a> &copy; 2016<br />
                    Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/masonry.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>