body {
    background-color: rgb(201, 181, 192);
}

.carousel-inner {
    height: 600px;
}

.item,
img {
    height: 100% !important;
    width: 100% !important;
    /* border: 1px solid red; */
}
